/* src/App.css */
.app-container {
  width: 100%;
  min-height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}

.page-content {
  padding: var(--spacing-lg) 0;
  min-height: calc(100vh - 4rem); /* 非首页内容区高度 */
}